@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 26, 28, 26;
    --background: 250, 246, 246;
    --card-background: #eff5f3;
    --card-hover: #c8dfd6;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background);
}
